<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>문의 폼</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <h2>문의폼</h2>

  {% if error %}
    <p style="color:red;">{{ error }}</p>
  {% endif %}

  <form method="post">
    <p>
      <input type="text" name="name" value="{{ username|default('', true) }}" placeholder="이름">
    </p>
    <p>
      <input type="text" name="email" value="{{ email|default('', true) }}" placeholder="이메일">
    </p>
    <p>
      <textarea name="description" placeholder="문의내용">{{ description|default('', true) }}</textarea>
    </p>
    <button type="submit">전송</button>
  </form>
</body>
</html>